@import "../../_mixins.scss";

.buildings {
    .heading {
        @include d-flex(row, space-between, center);
        width: 100%;
        }
    }

//FOr some reason this modal refuses to chnage colors for darkmode. From what I've found this can be fixed with more typescript, but I don't want to overcomplicate things yet.
.MuiPaper-elevation {
    background-color: var(--bg-color);
    color: var(--text-color1);
    transition: inherit;

    * {
        color: inherit;
        transition: inherit;
    }
}

//The textbox components have a really long and complex class name, so I did this.
.add-building {
    @include d-flex(column, space-between, center);
    width: 500px;
    max-width: 100%;
    gap: 1rem;

    * {
        color: var(--text-color1);
     }
}

.btn-group {
    @include d-flex(row, center, center);
    gap: 1rem;
}
